:root {
  --primary-rgb: 130 23 253;
  --primary: rgb(119 4 251);
  --white: #fff;
  --white-smoke: #fcfcfc;
  --placeholder: #cecece;
  --border: #e5e5e5;
  --border-hover: #d4cfcf;
  --dark-text: #283252;
  --medium-text: #757a91;
  --light-text: #a2a5b9;
  --widget-grey: #f5f6fa;
  --fade-grey: #ededed;
  --dark-border: #393945;
  --navbar-link-color: hsl(232 14% 68%);
  --exist-green: #53af70;

  // placeload colors
  --placeload-nuance-from: rgb(0 0 0 / 7%);
  --placeload-nuance-to: rgb(0 0 0 / 15%);
  --placeload-dark-nuance-from: var(--night-light-12);
  --placeload-dark-nuance-to: var(--night-light-16);

  // pich up 2 colors
  --pickup2-gradient: linear-gradient(180deg, #1b358f 0%, #3c61e0 100%);
  --pickup2-gradient-2: linear-gradient(292.87deg, #1B358F 14.83%, #3C61E0 85.17%);

  --pc2-orange-button: linear-gradient(90deg, #FA902E 0%, #BF6816 100%);
  --main-orange: #ed7b47;
  --dark-blue: #04134c;
  --main-blue: #1B4390;
  --text-grey-light: #999999;
  --text-grey: #666666;
  --text-grey-dark: #333333;
  --baby-blue: #007bff;
  --white: #fff;
  --light-white: #f4f4f4;
  --black: #000000;
}
    