
// sass variables
$black: var(--black)
$danger: var(--danger)
$dark: var(--dark)
$info: var(--info)
$link: var(--link)
$primary: var(--primary)
$success: var(--success)
$warning: var(--warning)
$white: var(--white)


